#selection {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#gameSettings {
    margin-top:20px;
    width: fit-content;
    justify-self: center;
    margin: auto;
    margin-top:20px;
}

#startBtn {
    margin-top: 10px;
}