#selection {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#gameSettings {
    margin-top:20px;
    width: fit-content;
    justify-self: center;
    margin: auto;
    margin-top:20px;
}

#startBtn {
    margin-top: 10px;
}

#question {
    font-size: 3em;
}

#field {
    height: 40px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

fieldset {
    border: 2px white solid;
}

#status {
    white-space: pre-line;
}

.langSelector {
    display: flex;
    justify-content: center;
}
.langSelector > button {
    margin-left: 16px;
    margin-right: 16px;
}

@media (prefers-color-scheme: light) {
    fieldset {
        border: 2px black solid;
    }
}
