:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body, html {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh; /* full viewport height */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

#root {
  place-items: center;
  min-height: 400px;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 15s linear;
  }
}

header, footer {
  display: flex; 
  align-items: center;
  background-color: black;
}

header > div {
  gap:10px;
  align-items: center;
}

header > h1 {
  color:white;
  font-size: 2em;
  margin-left: 20px;
}

#reactText {
  color:white;
  margin-left:30px;
}

footer > a {
  margin:20px;
}

html, body {
  height: 100%;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex; justify-content: center; align-items: center; height: 100vh;
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
  }
  header > h1 {
    margin-left: 0px;
  }
  #reactText {
    margin-left:0px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #cecece;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  header, footer {
    background-color: white;
  }
  header > h1 {
    color:black;
  }
  #reactText {
    color: black;
  }
}
